@import "variables.less";

#contacto {
	.section;
	
	.address {
		padding: 20px;
		background-color:  @blue; 
			.white;
		border-radius: 1em;
	}
	h1 {
		.text_border(@black);
	}
}

#mc_embed_signup {
	clear:left;
}
#mc-embedded-subscribe {
	display: inline-block;
	border:none !important;
}

