.center {
  text-align: center;
}
.right {
  text-align: right;
}
.white {
  color: white;
}
.whitea,
.white a {
  color: white;
}
.section {
  padding: 100px 0px 100px 0px;
  background-size: cover;
  background-attachment: fixed;
}
.section h1 {
  font-weight: bolder;
  font-size: 70px;
  line-height: 1.1em;
}
.big_title {
  font-weight: bolder;
  font-size: 70px;
  line-height: 1.1em;
}
.btn.purple {
  display: inline-block;
  color: white;
  font-weight: bolder;
  font-size: 1.3em;
  background-color: #831f99;
  transition: all 100ms;
}
.btn.purple:hover {
  transform: scale(1.2);
}
.btn.blue {
  display: inline-block;
  color: white;
  font-weight: bolder;
  font-size: 1.3em;
  background-color: #0b72d9;
  transition: all 100ms;
}
.btn.blue:hover {
  transform: scale(1.2);
}
.btn.green {
  display: inline-block;
  color: white;
  font-weight: bolder;
  font-size: 1.3em;
  background-color: #5ce6cf;
  transition: all 100ms;
}
.btn.green:hover {
  transform: scale(1.2);
}
.btn.pink {
  display: inline-block;
  color: white;
  font-weight: bolder;
  font-size: 1.3em;
  background-color: #ff3378;
  transition: all 100ms;
}
.btn.pink:hover {
  transform: scale(1.2);
}
.btn.yellow {
  display: inline-block;
  color: white;
  font-weight: bolder;
  font-size: 1.3em;
  background-color: #fed500;
  transition: all 100ms;
}
.btn.yellow:hover {
  transform: scale(1.2);
}
#inicio {
  padding: 100px 0px 100px 0px;
  background-size: cover;
  background-attachment: fixed;
  background-image: url('../images/backgrounds/asamblea_3_clear.jpg');
  text-shadow: -1px -1px 0 #222, 1px -1px 0 #222, -1px 1px 0 #222, 1px 1px 0 #222;
}
#inicio h1 {
  font-weight: bolder;
  font-size: 70px;
  line-height: 1.1em;
}
#inicio .white {
  text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white;
}
#inicio h1 {
  font-size: 54px;
}
@media (min-width: 768px) {
  #inicio h1 {
    font-size: 80px;
  }
}
@media (min-width: 992px) {
  #inicio h1 {
    font-size: 90px;
  }
}
#wiki_data {
  padding: 100px 0px 100px 0px;
  background-size: cover;
  background-attachment: fixed;
  background-color: #1dd4d7;
  color: white;
}
#wiki_data h1 {
  font-weight: bolder;
  font-size: 70px;
  line-height: 1.1em;
}
#wiki_data h2 {
  font-size: 4em;
  text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white;
}
#wiki_data h2 a {
  text-decoration: none;
  color: white;
}
#wiki_data h2 a:hover {
  position: relative;
  top: -2px;
  left: -2px;
}
#wiki_data p {
  margin-top: .5em;
  font-size: 1.8em;
  line-height: 0.9em;
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
}
#wiki_data p a {
  text-decoration: none;
  color: white;
}
#wiki_data p a:hover {
  position: relative;
  top: -2px;
  left: -2px;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
}
#nosotras {
  padding: 100px 0px 100px 0px;
  background-size: cover;
  background-attachment: fixed;
  background-color: #222;
  color: white;
}
#nosotras h1 {
  font-weight: bolder;
  font-size: 70px;
  line-height: 1.1em;
}
#nosotras .large {
  font-size: 2em;
  font-weight: bolder;
  text-transform: uppercase;
  color: white;
}
#nosotras .inverted {
  display: inline-block;
  padding: 0.05em 0.5em;
  font-weight: bolder;
  background-color: white;
  color: #222;
  transition: all 100ms;
}
#nosotras .inverted:hover {
  text-decoration: none;
  transform: scale(1.1);
}
#nosotras .btn {
  margin-top: 1em;
}
#proyectos h1 {
  text-shadow: -1px -1px 0 #222, 1px -1px 0 #222, -1px 1px 0 #222, 1px 1px 0 #222;
}
#proyectos .left_section {
  padding: 5em;
  color: #222;
}
#proyectos .right_section {
  padding: 5em;
  background-color: #0b72d9;
  color: white;
}
#proyectos .right_section h1 {
  text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white;
}
/*# sourceMappingURL=index.css.map */