/** set title **/
@import url('https://fonts.googleapis.com/css?family=Raleway');
@import "variables.less";

h1, h2, h3, h4, h5 {
	font-family: 'Raleway', sans-serif;
	font-weight: bolder;
}

.navbar {
	z-index: 100;
	background-color: @back;
	position:fixed;
	width:100%;
	top:0px;
	text-transform: uppercase;
	
	.navbar-brand {
		img {
			height: 50px;
		}
	}
}

#footer_container {
	background-color: @back;
}

footer {
	color: white;
	.row {
		padding:50px 0px 50px 0px;
	}
}

body { padding-top: 75px; }