@import "variables.less";

#inicio {
	.section;
	background-image: url('../images/backgrounds/asamblea_1.jpg');
	color:@black;
	a.inverted {
		.inverted(white, @black);
	}
	h1 {
		.text_border(@black);
	}
	.btn{
		margin-top: 1em;
	}
}

#porque {
	.section; 
	h1 {
		.text_border(@black);
	}
}

#que {
	.section;
	background-color: @pink;
	.white;

	
	a.inverted {
		.inverted(@pink, white);
	}
	
	h1 {
		.text_border(white);
	}
	
}

#participar {
	.section;
	h1 {
		.text_border(@black);
	}
	.reverse {
		color:white;
		background-color: @hot_green;
		padding: 20px;
		font-size: 1.3em;
		a.inverted {
			.inverted(@hot_green, white);
		}
	}

	a.inverted {
		.inverted(white, @hot_green);
	}
}

#discutimos {
	.section;
	h1 {
		.text_border(@black);
	}
	background-color:@lighter;
}

@media (min-width: 576px) {
	#discutimos h1, #participar h1, #que h1, #porque h1, #inicio h1 {
		font-size: 70px;
	}
}

