.center {
  text-align: center;
}
.right {
  text-align: right;
}
.white {
  color: white;
}
.whitea,
.white a {
  color: white;
}
.section {
  padding: 100px 0px 100px 0px;
  background-size: cover;
  background-attachment: fixed;
}
.section h1 {
  font-weight: bolder;
  font-size: 70px;
  line-height: 0.9em;
}
.big_title {
  font-weight: bolder;
  font-size: 70px;
  line-height: 0.9em;
}
.btn.green {
  display: inline-block;
  color: white;
  font-weight: bolder;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
  font-size: 1.3em;
  background-color: #00bc94;
}
.btn.green:hover {
  background-color: #007850;
}
.btn.pink {
  display: inline-block;
  color: white;
  font-weight: bolder;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
  font-size: 1.3em;
  background-color: #f78888;
}
.btn.pink:hover {
  background-color: #b34444;
}
.btn.yellow {
  display: inline-block;
  color: white;
  font-weight: bolder;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
  font-size: 1.3em;
  background-color: #dbd67b;
}
.btn.yellow:hover {
  background-color: #979237;
}
.btn.hot_green {
  display: inline-block;
  color: white;
  font-weight: bolder;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
  font-size: 1.3em;
  background-color: #00e4c1;
}
.btn.hot_green:hover {
  background-color: #00a07d;
}
.btn.hot_pink {
  display: inline-block;
  color: white;
  font-weight: bolder;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
  font-size: 1.3em;
  background-color: #ff2665;
}
.btn.hot_pink:hover {
  background-color: #bb0021;
}
.btn.hot_yellow {
  display: inline-block;
  color: white;
  font-weight: bolder;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
  font-size: 1.3em;
  background-color: #ffcf48;
}
.btn.hot_yellow:hover {
  background-color: #bb8b04;
}
#inicio {
  padding: 100px 0px 100px 0px;
  background-size: cover;
  background-attachment: fixed;
  background-image: url('../images/backgrounds/asamblea_3.jpg');
  color: white;
}
#inicio h1 {
  font-weight: bolder;
  font-size: 70px;
  line-height: 0.9em;
}
#inicioa,
#inicio a {
  color: white;
}
#porque {
  padding: 100px 0px 100px 0px;
  background-size: cover;
  background-attachment: fixed;
}
#porque h1 {
  font-weight: bolder;
  font-size: 70px;
  line-height: 0.9em;
}
#que {
  padding: 100px 0px 100px 0px;
  background-size: cover;
  background-attachment: fixed;
  background-color: #f78888;
  color: white;
}
#que h1 {
  font-weight: bolder;
  font-size: 70px;
  line-height: 0.9em;
}
#quea,
#que a {
  color: white;
}
#que a.reverse {
  color: #f78888;
  background-color: #ffffff;
  font-weight: bolder;
}
#que a.reverse:hover {
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.8);
  transition: background-color 0.5s;
}
#historia {
  padding: 100px 0px 100px 0px;
  background-size: cover;
  background-attachment: fixed;
  color: white;
  background-color: #2f2e2e;
}
#historia h1 {
  font-weight: bolder;
  font-size: 70px;
  line-height: 0.9em;
}
#historiaa,
#historia a {
  color: white;
}
/*# sourceMappingURL=nosotras.css.map */