@import "variables.less";


#proyectos {
	.section;
	h1 {
		.text_border(@black);
	}
	background-color: @lighter;
	.descarga {
		padding: 20px;
		background-color: @back;
		color: white;
		.center;
	}
}
#active {
	.section;
	h1 {
		.text_border(@black);
	}
	color: @black;
	.card {
		margin-bottom:1em;
	}
}

#archive {
	.section;
	background-color: @lighter;
	h1 {
		.text_border(@black);
	}
	.card {
		margin-bottom:1em;
	}
}