@green: rgba(1, 177, 175, 1);
@pink: rgba(209, 176, 198, 1);
@yellow: rgba(219, 214, 123, 1);
@darker: #444;


@back: rgba(47, 46, 46, 1);
@spacer: 60px;

.center {
	text-align: center;
}
.right {
	text-align: right;
}

.white {
	color:white;
}
