@purple: #831f99;
@hot_purple: #690eaa;
@washed_purple: #9765ba;

@green: #5ce6cf;
@hot_green: #1dd4d7;
@washed_green: #95c5c6;

@pink: #ff3378;
@hot_pink: #e11762;
@whased_pink: #d287a3;

@yellow: #fed500;
@hot_yellow: #ffaf00;
@whased_yellow: #e2c585;

@hot_blue: #0050e4;
@blue: #0b72d9;
@whashed_blue: #6d94de;




@black: #2e3436;
@grey: #555753;
@light: #888a85;
@lighter: #eeeeec;
@back: @black;

@darker: #444;
@spacer: 60px;

.center {
	text-align: center;
}
.right {
	text-align: right;
}

.white {
	color:white;
	&a, a {
		color:white;
	}
}

.cover(@img) {
	background-image: url(@img);
	background-size: cover;
}

.section {
	padding: 100px 0px 100px 0px;
	background-size: cover;
	background-attachment: fixed;
	
	h1 {
		.big_title;
	}
}

.big_title {
	font-weight: bolder;
	font-size: 70px;
	line-height: 0.9em;
}

.button(@color){
	display:inline-block;
	color: white;
	font-weight: bolder;
	font-size: 1.3em;
	background-color: @color;
	
	&:hover {
		background-color: @color - @darker;
	}
}


.btn {
	&.purple { .button(@purple); }
	&.blue { .button(@blue); }
	&.green { .button(@green); }
	&.pink { .button(@pink); }
	&.yellow { .button(@yellow) }
	
	/*&.hot_green {.button(@hot_green);}
	&.hot_pink {.button(@hot_pink); }
	&.hot_yellow {.button(@hot_yellow)}*/
}

.text_border(@color){
	text-shadow:
	-1px -1px 0 @color,  
	1px -1px 0 @color,
	-1px 1px 0 @color,
	1px 1px 0 @color;
}

.inverted(@color, @background) {
	padding: 0em 0.5em;

	background-color: @background;
	transition: background-color 0.5s;

	color: @color;
	transition: color 0.5s;

	&:hover {
		text-decoration: none;

		background-color:  @color;
		transition: background-color 0.5s;

		color:@background ;
		transition: color 0.5s;
	}
}